html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f5f2f0;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  background-color: #ede3db;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border: 2px solid #623b0c;
  border-radius: 8px;
}

h1, h2 {
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

li a {
  padding: .5em;
  background-color: #623b0c;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  text-align: left;
  justify-content: flex-end;
}

li a:hover {
  background-color: #000;
  color: #fff;
}

img {
  width: 100%;
  padding-bottom: .5em;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  padding-bottom: 0;
}

main {
  margin: 0;
  padding-left: .6em;
  padding-right: .6em;
}
